* {
    box-sizing: border-box;
  }
  
  body{
      padding: 0;
      margin: 0;
     background-color: skyblue;
     background-image: url(blue-logo-twitter-birds-emblem-3.png);
     background-position: center fixed;
     background-repeat: no-repeat;
     background-size: cover;
  }  

  /*twitter page container starts here*/
  #twitter-container{
      margin-left: 70px;
  }
  
  #twitter-container h1{
    font-family:  Georgia, 'Times New Roman', Times, serif;
  
  }

 hr{
     background-color: #333;
 }
/*twitter page container ends here*/

 /*Left side of the twitter page starts here*/
 .left_side{
    position: absolute;
    left: 220px;
    top: 350px;
}

.topleft_side{
    position: absolute;
    left: 50px;
    top: 100px;
    text-align: center;
}

.topleft_side p{
    font-size: 16px;
}

.left_side p{
    color: #fff;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 18px;
    font-weight: bold;
}


/*Left side of the twitter page ends here*/

/*Right side of the twitter page starts here*/
.right_side{
    position: absolute;
    right: 0px;
    top: 0px;
    background-color: #fff;
    width: 50%;
    height: 100%;
    padding: 20px 20px;
}

.right_side form label{
    position: absolute;
    top: 70px;
    left: 350px;
}

.right_info{
    position: absolute;
    left:100px;
    top: 170px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 32px;
}

.right_info img{
    width: 50px;
    height: 50px;   
}

.btn_signup{
    width: 250px;
    padding: 7px;
    border: 1px solid #1DA1F2;
    border-radius: 15px;
    background-color: #1DA1F2;
    color: #fff;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}

.btn_login{
    width: 250px;
    padding: 7px;
    border: 2px solid #1DA1F2;
    border-radius: 15px;
    background-color: inherit;
    color: #1DA1F2;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}


input{
padding: 10px;
background-color: #f2f2f2;
width: 200px;
outline: none;
border: 1px solid skyblue;
border-radius: 7px;
margin-left: 14px;
color: #333;
font-family: Georgia, 'Times New Roman', Times, serif;
}

input[type=text]{
    width: 250px;
}

.btnlogin{
    padding: 8px;
    background-color: #fff;
    width: 100px;
    margin-left: 7px;
    border: 2px solid #1DA1F2;
    border-radius: 14px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 14px;
    color: #1DA1F2;
    font-weight: bold;
    cursor: pointer;
}
/*Right side of the twitter page ends here*/

/*Bottom Navigation Bar Starts here--------------*/

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  position: fixed;
  bottom: 0;
  width: 100%;
}

li {
  float: left;
}

li a {
  display: block;
  color: #fff;
  font-size: 14px;
  font-family: arial;
  text-align: center;
  padding: 7px 11px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: inherit;
    color: #fff;
}

.active {
    color: #ffff00;
    font-weight: bold;
}

/*Bottom Navigation Bar Ends here--------------*/

